body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: 5px;
}

.container {
    width: 300px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 80%;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
}

li {
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
